$color-white1: #f3ecf5;
$color-white2: #e0d9e2;
$color-yellow1: #ffcc00;
$color-orange1: #ffac25;
$color-orange2: #ff7b2c;
$color-purple1: #271c32;
$color-purple2: #d6adf5;
$color-green1: #8deb6d;
$color-blue1: #81d1fc;
