@import "_normalize";
@import "_functions";
@import "_mixins";

body {
  font-family: $font-sans;
  font-size: rem-calc(16);
  background: #4423B7 url('../assets/images/bg-body.png') left top repeat;
  background-size: 248px 248px;
  color: $font-color-base;
  line-height: 1.4;
}

.container {
  display: block;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 $gapxx;
}

.content {
  h1, h2, h3, h4, h5, p, ul, ol, pre, blockquote {
    margin-bottom: $gap;
  }
  h2 {
    font-family: $font-serif;
    font-size: rem-calc(44);
    color: $color-blue1;
    text-transform: lowercase;
    text-shadow: 1px 1px 0 #111;
    letter-spacing: .02em;
    text-align: center;
  }
  p {
    &.desc {
      text-align: center;
    }
  }
  ul {
    margin: $gapxxx auto;
    width: 80%;
    &.boxy {
      text-align: center;
      li {
        display: inline-block;
        padding: 7px 14px;
        color: $color-purple1;
        font-size: rem-calc(15);
        background-color: $font-color-base;
        &.alt {
          color: #b7328d;
        }
      }
    }
  }
}