@import "_normalize";
@import "_functions";
@import "_mixins";

body {
	font-family: $font-sans;
	font-size: rem-calc(16);
	background: #4423B7 url('../assets/images/bg-body.png') left top repeat;
	background-size: 248px 248px;
	color: $font-color-base;
}

.container {
	display: block;
	max-width: 1170px;
	margin: 0 auto;
	padding: $gapxx;
}
