<form name="contactForm" class="contactForm" ng-submit="contactForm.$valid && handleForm(contactForm)" novalidate>
    <div ng-show="(submitted && contactForm.$valid)" class="success">Success</div>
    <div class="row">
        <div class="half">
            <label for="name">Name:</label>
            <input
                type="text"
                name="name"
                id="name"
                tabindex="1"
                ng-class="{error: contactForm.$submitted && contactForm.name.$invalid}"
                ng-model="name"
                ng-change="notSubmitted()"
                required>
            <div ng-show="contactForm.$submitted && contactForm.name.$invalid" class="error">Please provide a name</div>
        </div>
        <div class="half">
            <label for="email">Email:</label>
            <input
                type="email"
                name="email"
                id="email"
                tabindex="2"
                ng-class="{error: contactForm.$submitted && contactForm.email.$invalid}"
                ng-model="email"
                ng-change="notSubmitted()"
                required>
            <div ng-show="contactForm.$submitted && contactForm.email.$invalid" class="error">Please provide a valid email</div>
        </div>
    </div>
    <div class="row">
        <label for="message">Message:</label>
        <textarea
            name="message"
            id="message"
            rows="5"
            tabindex="3"
            ng-class="{error: contactForm.$submitted && contactForm.message.$invalid}"
            ng-model="message"
            ng-change="notSubmitted()"
            required></textarea>
        <div ng-show="contactForm.$submitted && contactForm.message.$invalid" class="error">Please provide a message</div>
    </div>
    <div class="row">
        <input type="submit" name="submit" id="submit" tabindex="4" ng-click="submitted=true">
    </div>
</form>