.contactForm {
  margin: $gapxxx auto;
  .row {
    margin-bottom: $gapxx;
    @include clearfix;
    .half {
      float: left;
      width: 49%;
      &:last-of-type {
        float: right;
      }
    }
  }
  label {
    display: block;
    padding: 4px 0;
    text-align: center;
  }
  input[type="text"],
  input[type="email"] {
    display: block;
    width: 96%;
    padding: 10px 2%;
    border-radius: 4px;
    border: 1px solid darken($color-purple1, 5%);
    font-family: $font-sans;
    font-size: rem-calc(16);
    color: $color-purple1;
    background: $color-white2;
    outline: none;
    text-align: center;
    &.error {
      border-bottom: 5px solid $color-yellow1;
    }
  }
  textarea {
    display: block;
    width: 96%;
    padding: 10px 2%;
    border-radius: 4px;
    border: 1px solid darken($color-purple1, 5%);
    font-family: $font-sans;
    font-size: rem-calc(16);
    color: $color-purple1;
    background: $color-white2;
    outline: none;
    text-align: center;
    &.error {
      border-bottom: 5px solid $color-yellow1;
    }
  }
  input[type="submit"] {
    display: block;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    border: 1px solid darken($color-purple1, 5%);
    font-family: $font-deco;
    font-size: rem-calc(22);
    color: $color-yellow1;
    background: rgba( #000, .1 );
    outline: none;
    text-align: center;
    text-transform: uppercase;
  }
}