#navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: $gapxxx;
  ul {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    li {
      display: inline-block;
      a {
        position: relative;
        display: block;
        font-size: rem-calc(18);
        color: $color-white2;
        letter-spacing: .03em;
        padding: 15px 20px;
        line-height: 20px;
        text-decoration: none;
        text-transform: lowercase;
        border-radius: 3px;
        background-color: rgba(#000, 0);
        @include transition(all 0.3s ease);
        &:before {
          content: "";
          display: none;
          position: absolute;
          left: 10%;
          bottom: 7px;
          height: 4px;
          width: 80%;
          background-color: $color-green1;
        }
      }
      &.active a {
        color: $color-green1;
        &:before {
          display: block;
        }
      }
			@media screen and (max-width: $breakpoint-medium) {
				display: block;
				a {
					&:before {
						display: none;
					}
				}
				&.active a {
					&:before {
						display: none;
					}
				}
			}
    }
  }
	@media screen and (max-width: $breakpoint-medium) {
		margin: $gapx auto;
	}
}
