#navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  background-color: #222;

  & > a {
    float: left;
    color: lightgrey;
    font-size: 18px;
    padding: 15px;
    line-height: 20px;
  }

  ul {
    float: left;
    padding: 0;
    margin: 0;

    li {
      float: left;
      position: relative;
      display: block;

      a {
        color: white;
        position: relative;
        display: block;
        padding: 15px;
        line-height: 20px;
      }
      &.active a {
        background-color: black;
      }
    }
  }
}
