.skills-wrapper {
  max-width: 80%;
  margin: $gapxxx auto $gapxx;
  text-align: center;
  h3 {
    font-family: $font-deco;
    font-size: rem-calc(28);
    color: $font-color-bright;
    text-transform: lowercase;
    text-shadow: 1px 1px 0 #111;
    letter-spacing: .02em;
    margin-bottom: $gap;
  }
  .skills-list {
    margin: 0 auto $gap;
    max-width: 420px;
    li {
      display: inline-block;
      font-size: rem-calc(15);
      background-color: rgba(#000, .3);
      margin: 0 4px 4px 0;
      outline: none;
      a {
        display: block;
        padding: 7px 14px;
        color: $font-color-base;
        text-decoration: none;
        &.alt {
          color: #b7328d;
        }
        &.active {
          color: $color-orange1;
        }
      }
    }
  }
  .skills-desc {

  }
}