#masthead {
  text-align: center;
  margin: $gapxxx 0 $gapx;
  .title {
    a {
      display: inline-block;
      height: 60px;
      line-height: 60px;
      font-size: rem-calc(52);
      letter-spacing: .03em;
      font-weight: bold;
      color: #ffeb9b;
      text-decoration: none;
      text-shadow: 1px 1px 1px #111;
      @include transition(all 0.25s ease);
      &:hover {
        font-size: rem-calc(54);
      }
    }
  }
  h1 {
    font-size: rem-calc(18);
    font-style: italic;
    margin: 2px 0 0;
  }
}