#masthead {
  text-align: center;
  margin: $gapxxx 0 $gap;
  .title {
    a {
      display: inline-block;
      font-family: $font-deco;
      font-size: rem-calc(58);
      letter-spacing: .03em;
      color: $color-yellow1;
      text-decoration: none;
      text-shadow: 1px 1px 0 #111;
			@media screen and (max-width: $breakpoint-large) {
				font-size: rem-calc(48);
			}
			@media screen and (max-width: $breakpoint-medium) {
				font-size: rem-calc(42);
			}
			@media screen and (max-width: $breakpoint-small) {
				font-size: rem-calc(34);
			}
		}
  }
  h1 {
    font-size: rem-calc(18);
    font-style: italic;
		@media screen and (max-width: $breakpoint-medium) {
			font-size: rem-calc(17);
		}
		@media screen and (max-width: $breakpoint-small) {
			font-size: rem-calc(16);
		}
  }
}
